@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: 255 255 255;
  --background-dark: 0 0 0;
  --foreground-light: 17 24 39;  /* gray-900 */
  --foreground-dark: 249 250 251; /* gray-50 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-light: 0 0 0;
    --background-dark: 255 255 255;
    --foreground-light: 249 250 251; /* gray-50 */
    --foreground-dark: 17 24 39;   /* gray-900 */
  }
}

@layer base {
  body {
    min-height: 100vh;
    background-color: rgb(var(--background-light));
    color: rgb(var(--foreground-light));
  }
  
  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgb(var(--background-dark));
      color: rgb(var(--foreground-dark));
    }
  }
}
